.hero {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.hero .container {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.hero .container h1 {
    margin-bottom: 20px;
}

.hero .container p {
    color: #555;
}

.about {
    padding: 50px 0;
}

.about .container {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.about .container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    filter: blur(0.5px);
}

.about .container h2 {
    margin-bottom: 20px;
}

.features {
    padding-bottom: 50px;
}

.features .container {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.features .container h2 {
    margin-bottom: 20px;
}

.features-row {
    display: flex;
    flex-direction: row;
}

.feature {
    margin: 0 20px;
}

.use-cases {
    background-color: #f4f4f4;
    padding: 50px 0;
}

.use-cases .container {
    width: 1000px;
    text-align: center;
    margin: 0 auto;
}

.use-cases .container h2 {
    margin-bottom: 20px;
}

.use-cases-row {
    display: flex;
    flex-direction: row;
}

.use-case {
    margin: 0 20px;
}

.btn {
    display: inline-block;
    background-color: #49a010;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #3a7f0d;
}

.btn-primary {
    background-color: #49a010;
}

.btn-primary:hover {
    background-color: #3a7f0d;
}
